@import "tailwindcss";

@theme {
  /* আপনার প্রাইমারি কালার সেটআপ */
  --color-primary: #0D0B61;
  --color-primary-hover: #0a094d;
  
  /* ফন্ট এবং অন্যান্য ভেরিয়েবল */
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}